{% extends 'flatpages/default.html' %}

{% load custom_filters %}!
{% load custom_tags %}

{% block title %}
PostList
{% endblock title %}

{% block content %}
   <h1>Все новости!</h1>
   <h3>{% current_time '%b %d %Y' %}</h3>
   <h3> {{ next_sale|default_if_none:"Чуть позже сообщим об обновлениях!" }} </h3>

   <hr>
   {% if postlist %}
       <table>
           <tr>
               <td>Название</td>
               <td>Описание</td>
               <td>Категория</td>
               <td>Дата публикации<td>
           </tr>

           {% for post in postlist %}
           <tr>
               <td>{{ post.title}}</td>
               <td>{{ post.text|truncatechars:20 }}</td>
               <td>{{ post.category.name }}</td>
               <td>{{post.dateCreation}}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}